@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500&display=swap');
.contactDescription {
    background-image: url('https://www.osae.info/documentos_osae/2012/2012_03_18_m51.jpg');
    background-size: cover;
    font-family: 'Bodoni Moda', serif;
    color: black;
    height: 664px;
    width: auto;
    display: flex;
    justify-content: center;
}
p {
    margin: 0;
    color: white;
}
.card {
    background-color: #3c3ccf;
    margin-top: 30px;
    height: 300px;
    width: 400px;
    font-size: 120%;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.contactDescription img {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 20px;
}
