@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap');
.app {
    font-family: 'Frank Ruhl Libre', serif;
    height: 800px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-image: url('https://www.osae.info/documentos_osae/2012/2012_03_18_m51.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.search {
    background-color: #3c3ccf;
    width: 350px;
    height: 70px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    border-radius: 10px;
}
.search input {
    margin-top: 15px;
    font-size: 170%;
    cursor: pointer;
}
.contacts {
    width: 350px;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #3c3ccf;
    text-align: center;
    font-size: 120%;
    padding: 10px;
    border-radius: 20px;
}
.contact p {
    margin: 0px;
}
.gender {
    width: 70px;
    height: 70px;
}
.name {
    font-weight: bold;
    font-size: 130%;
}
.genderPanel {
    width: 350px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #3c3ccf;
    margin: 5px 10px 10px 10px;
    border-radius: 10px;
    padding: 2px;
}
.genderPanel button {
    font-size: 170%;
    width: 120px;
    height: 50px;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 10px;
}
.genderPanel button:hover {
    color: black;
    transition: all 300ms ease;
    background-color: white;
    font-size: 180%;
    height: 50px;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 10px;
}

.genderChecked {
    background-color: #000000;
    color: white;
}
.genderUnchecked {
    background-color: white;
    border: none;
}
.contact-link {
    text-decoration: none;
    color: black;
}
